
.node-content {
  .node-inner {
    position: relative;
    z-index: 1;
  }
  .start-inner {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    color: #53699d;
    background: #fafafa;
    border-radius: 50%;
    border: 1px dashed #b1b5bc;
  }
  .task-inner {
    display: inline-block;
    width: 152px;
    font-size: 12px;
    height: 60px;
    background: #fafafa;
    border: 1px solid #a9adb5;
    border-bottom: none;
    table-layout: fixed;
    overflow: hidden;
  }
}
