/* web-main */
.user-el-popover.el-popover{
  padding: 12px 0px;
  .opera-list {
    a {
      display: block;
      padding: 4px 10px 4px 15px;
      overflow: hidden;
      color: #24292e;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        color: #fff;
        text-decoration: none;
        background-color: #0366d6;
      }
    }
  }
}
