@font-face {
  font-family: 'icon-demo';
  src:  url('../fonts/icon-demo.eot?rukk03');
  src:  url('../fonts/icon-demo.eot?rukk03#iefix') format('embedded-opentype'),
    url('../fonts/icon-demo.ttf?rukk03') format('truetype'),
    url('../fonts/icon-demo.woff?rukk03') format('woff'),
    url('../fonts/icon-demo.svg?rukk03#icon-demo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-demo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniF0A6F9:before {
  content: "\f0a6";
}
.icon-uniF0A7F9:before {
  content: "\f0a7";
}
.icon-uniF0A8F9:before {
  content: "\f0a8";
}
.icon-uniF0A9F9:before {
  content: "\f0a9";
}
.icon-uniF0AAF9:before {
  content: "\f0aa";
}
.icon-uniF0ABF9:before {
  content: "\f0ab";
}
.icon-uniF0ACF9:before {
  content: "\f0ac";
}
.icon-uniF0ADF9:before {
  content: "\f0ad";
}
.icon-uniF0C3F9:before {
  content: "\f0c3";
}
.icon-uniF0C4F9:before {
  content: "\f0c4";
}
.icon-uniF0C5F9:before {
  content: "\f0c5";
}
.icon-uniF0C6F9:before {
  content: "\f0c6";
}
.icon-uniF0C7F9:before {
  content: "\f0c7";
}
.icon-uniF0C8F9:before {
  content: "\f0c8";
}
.icon-uniF0CAF9:before {
  content: "\f0ca";
}
.icon-uniF0CBF9:before {
  content: "\f0cb";
}
.icon-uniF0F0F9:before {
  content: "\f0f0";
}
.icon-uniF104F9:before {
  content: "\f104";
}
.icon-uniF105F9:before {
  content: "\f105";
}
.icon-uniF106F9:before {
  content: "\f106";
}
.icon-uniF107F9:before {
  content: "\f107";
}
.icon-uniF13EF9:before {
  content: "\f13e";
}
