.jsplumb-learn {
    display: flex;
    padding: 20px;
    height: 100vh;
    .menu-content {
      width: 200px;
    }
    .flex-container {
      flex: 1;
    }
    .flow-container {
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(rgba(0, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0) 10%);
        background-size: 20px 20px;
        background-color: rgb(251, 251, 251);
        position: relative;
    }
}
