.flow-template {
    .top-content {
        padding: 0 60px;
        height: 58px;
        line-height: 58px;
        background: #f4f7fa;
        border-bottom: 1px solid #dddddd;
    }
    .main-content {
        display: flex;
        height: calc(100vh - 115px);
        .left {
            width: 60px;
            background: #f2f2f2;
            border: 1px solid #dddddd;
            height: 100%;
        }
        .right {
            flex: 1;
            background: #e1e4e8;
            height: 100%;
            .flow-contain {
              position: relative;
              height: 100%;
            }
        }
    }
}
